# Copy this file to .env and fill in values.
# Arrays can be JSON (recommended) or comma-separated lists.

DISCORD_CLIENT_ID=
DISCORD_SECRET_ID=
DISCORD_SCOPES=identify connections guilds guilds.members.read
DISCORD_REDIRECT_URL=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
BROWNIEVAL_GUILD_ID=
CLOUDINARY_GUILD_ID=

SUB_ROLE_ID=
DISCORD_SUB_ROLE_ID=
VIP_ROLE_ID=
MOD_ROLE_ID=
KOFI_ROLE_ID=
IRIAM_1STAR_ROLE_ID=
IRIAM_2STAR_ROLE_ID=
IRIAM_3STAR_ROLE_ID=
TURTLE_ROLE_ID=
TURTLE_ID=
BROWNIEVAL_ADMIN_ACCESS_ID=
BROWNIEVAL_PLAYER_ACCESS_ID=
BROWNIEVAL_TALENT_ACCESS_ID=
OVERRIDE_ROLE_ID=
IRIAM_STAR_ROLES=[]
SUB_PERK_ROLES=[]

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_USER_ID=
TWITCH_USER_SCOPES=user:read:subscriptions
TWITCH_REDIRECT_URL=
BROWNIEVAL_SUB_ONLY_VIDEOS=[]

YOUTUBE_USER_ID=
YOUTUBE_API_KEY=

IRIAM_REWARD_DOWNLOAD_FOLDER=

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_DELETE_EXPRESSION=
CLOUDINARY_BROWNIEVAL_PREFIX=
CLOUDINARY_BROWNIEVAL_PLAYER_PREFIX=
CLOUDINARY_CLIPUPLOADER_CATEGORY=
CLOUDINARY_IRIAM_PREFIX=