# Important files
.DS_Store
.vscode/settings.json
config.php
.htaccess
compose-dev.yaml
includes/.env.php

# Sub Perks Content
subs/giveaway/giveaway-links.md
subs/blog/techblog
subs/blog/gamedevlogs
subs/blog/travelblog
subs/karaoke/media/
subs/karaoke/tracks.js
subs/karaoke/karaoke copy.php

# Shoutcasting: legacy Markdown files
shoutcasting/shoutcasting.md
shoutcasting/producing.md

# Privacy Policy
privacy/privacy-policy.md

# Composer, Cloudinary, and Google Analytics
composer.phar
vendor/
includes/cloudinary.env.php
includes/ganalytics.php
/cache

# Navbar
templates/navbar-contents.php

# BrownieVAL Submodules
/brownieval/lab/dv
