/concentration/*
!/concentration/index.php
!/concentration/.htaccess

/cashmountain/*
!/cashmountain/index.php
!/cashmountain/.htaccess

/hackuwu/*
!/hackuwu/index.php
!/hackuwu/.htaccess

/baseballderby/*
!/baseballderby/index.php
!/baseballderby/.htaccess