/concentration/*
!/concentration/index.php
!/concentration/.htaccess

/cashmountain/*
!/cashmountain/index.php
!/cashmountain/.htaccess

/harukauwu/*
!/harukauwu/index.php
!/harukauwu/.htaccess

/baseballderby/*
!/baseballderby/index.php
!/baseballderby/.htaccess

/bobaroll/*
!/bobaroll/index.php
!/bobaroll/.htaccess