div.container {
    padding-top: 20px;
}

div.container.body-container {
    border: 1px;
    background-color: var(--bs-white) !important;
    padding: 75px 100px 200px 100px !important;
    box-shadow: 0px 0px 10px #a58e8e;
}

div.container.body-container-no-bg {
    padding: 75px clamp(0px, 10%, 100px) 200px clamp(0px, 10%, 100px) !important;
}

@media ((max-width:991px) and (min-width:576px)) {
    div.container.body-container-no-bg {
        padding: 75px 40px 200px 40px !important;
    }
    div.container.body-container {
        padding: 75px 10px 200px 10px !important;
    }
}

@media (max-width:575px) {
    div.container.body-container {
        padding: 75px 10px 200px 10px !important;
        width: -webkit-calc(100vw - 10px) !important;
        width:    -moz-calc(100vw - 10px) !important;
        width:         calc(100vw - 10px) !important;
    }
}



@media (min-height:701px) {
    div.container-fluid.body-container-home {
        height:90vh;
        max-height: 900px;
    }
    div.container.body-container-home {
        height:100vh;
    }
    div.container-fluid.body-container-home #center-block {
        height:90vh;
        max-height: inherit;
    }
    div.container.body-container-home #center-block {
        height:90vh;
    }
}

@media (max-height:700px) {
    div.container-fluid.body-container-home, div.container.body-container-home {
        padding: 75px clamp(0px, 10%, 100px) 200px clamp(0px, 10%, 100px) !important;
        min-height:700px;
    }
    div.container-fluid.body-container-home #center-block, div.container.body-container-home #center-block  {
        height:100%;
    }
}

#center-block {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    background-color: var(--bs-gray) !important;
    display: grid;
    align-items: top;
    grid-template-rows: auto 1fr auto;
    background: rgb(211,174,134);
    background: -moz-linear-gradient(0deg, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 25%, rgba(58,103,62,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 25%, rgba(58,103,62,1) 100%);
    background: linear-gradient(0deg, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 25%, rgba(58,103,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3ae86",endColorstr="#3a673e",GradientType=1);
    background-attachment: fixed;
    font-family: "Inter", "Helvetica Neue", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-variation-settings: "slnt" 0 !important;
}

body.v1 {
    background-color: var(--bs-gray) !important;
    display: grid;
    align-items: top;
    grid-template-rows: auto 1fr auto;
    background-image:url("https://res.cloudinary.com/browntulstar/image/private/s--Cu-BTg6K--/e_blur:1000/c_fit,w_1080/com.browntulstar/img/browntulstar-logo-v1-large.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.profile, div.brownie-red {
    background: rgb(63,13,27);
    background: -moz-linear-gradient(180deg, rgba(63,13,27,1) 0%, rgba(114,24,49,1) 45%, rgba(190,40,81,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(63,13,27,1) 0%, rgba(114,24,49,1) 45%, rgba(190,40,81,1) 100%);
    background: linear-gradient(180deg, rgba(63,13,27,1) 0%, rgba(114,24,49,1) 45%, rgba(190,40,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f0d1b",endColorstr="#be2851",GradientType=1);
}

body.home, div.container-fluid.body-container-home, div.brownie-green {
    background: rgb(211,174,134);
    background: -moz-radial-gradient(circle, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 30%, rgba(58,103,62,1) 75%);
    background: -webkit-radial-gradient(circle, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 30%, rgba(58,103,62,1) 75%);
    background: radial-gradient(circle, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 30%, rgba(58,103,62,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3ae86",endColorstr="#3a673e",GradientType=1);
}

div.home-div-row {
    height: fit-content;
    min-height: 600px;
    /* max-height: max(fit-content, 1080px); */
    background-size: cover;
    background-position: center;
}

div.home-div-col {
    align-self: center;
}



.nav-tabs .nav-item a, .nav-tabs .nav-link {
    color: black !important;
    text-decoration: none !important;
    border-color:#00000010 !important;
}

.nav-tabs .nav-link:hover {
    background-color: rgba(211,174,134,0.5) !important;
    border-color:#00000060 !important;
}


.nav-tabs .nav-link.active {
    background-color: rgb(211,174,134) !important;
    border-color: black !important;
    color: black !important;
    font-weight:bold;
}

.nav-tabs-div {
    /* @media (max-width:575px) {
        max-width: 95vw;
    } */
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-tabs-div > .nav-tabs {
    display: flex !important;
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
}

@media (max-width:991px) {
    #navbarSupportedContent {
        max-height: 400px;
        height:70vh;
        overflow-y: auto;
    }
}

.pagination .page-item > .page-link {
    color: black !important;
}

.pagination .page-item:not(.active) > .page-link:hover:not([disabled]){
    background-color: lightgray !important;
}

.pagination .page-item.active > .page-link {
    background-color: rgb(211,174,134) !important;
    border-color: rgb(211,174,134) !important;
    z-index: inherit;
    font-weight: bold;
}

.accordion {
	--bs-accordion-btn-color: black !important;
	--bs-accordion-btn-bg: #d3ae86 !important;
	--bs-accordion-active-color: black !important;
	--bs-accordion-active-bg: #f9cd9e !important;
}

.btn-primary {
    background-color: #d3ae86 !important;
    border-color: #d3ae86 !important;
    color: black !important;
    font-weight: bold !important;
}

.btn-primary:hover {
    background-color: #f9cd9e !important;
    border-color: #caa05e !important;
}

.btn-success {
    background-color: #477b3d !important;
    border-color: #477b3d !important
}

.btn-success:hover {
    background-color: #2eb73c !important;
    border-color: #259130 !important
}

.btn-danger {
    background-color: #b73232 !important;
    border-color: #b73232 !important;
}

.btn-danger:hover {
    background-color: #ff4545 !important;
    border-color: #ff4545 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "League Spartan", "Helvetica Neue", sans-serif !important;
    margin-bottom: 0.2rem !important;
}

h1, h2 {
    font-weight: 700 !important;
    text-transform: uppercase;
}

h3, h4 {
    font-weight: 600 !important;
    text-transform: uppercase;
}

h5, h6 {
    font-weight: 500 !important;
}

h5 .badge {
    font-family: Helvetica, sans-serif !important;
    font-weight: 700 !important;
    font-size: 12px !important;
}

.body-container-no-bg h1, .body-container-no-bg h2, .body-container-no-bg h3,
div.brownie-green h1, div.brownie-green h2, div.brownie-green h3,
div.brownie-red h1, div.brownie-red h2, div.brownie-red h3 {
    text-shadow: 1px 1px 2px black;
}

.dropdown-header-navbar {
    font-family: "League Spartan", "Helvetica Neue", sans-serif !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    padding-top: 8px !important;
    padding-left: 16px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.navbar-highlight {
    animation: navbar-highlight 1s ease;
}
@keyframes navbar-highlight {
    0% { background-color: rgba(0, 0, 0, 0); }
    50% { background-color: yellow; }
    100% { background-color: rgba(0, 0, 0, 0); }
}