div.container {
    padding-top: 20px;
}

div.container.body-container {
    border: 1px;
    background-color: var(--bs-white) !important;
    padding: 20px;
    overflow: auto;
}

body {
    background-color: var(--bs-gray) !important;
    display: grid;
    align-items: top;
    grid-template-rows: auto 1fr auto;
    background-image:url(/assets/img/yoshi-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}