div.container {
    padding-top: 20px;
}

div.container.body-container {
    border: 1px;
    background-color: var(--bs-white) !important;
    padding: 75px clamp(0px, 10%, 100px) 200px clamp(0px, 10%, 100px) !important;
    box-shadow: 0px 0px 10px #a58e8e;
}

div.container.body-container-no-bg {
    padding: 75px clamp(0px, 10%, 100px) 200px clamp(0px, 10%, 100px) !important;
}

@media (min-height:701px) {
    div.container.body-container-home {
        height:100vh;
    }
    div.container.body-container-home #center-block {
        height:90vh;
    }
}

@media (max-height:700px) {
    div.container.body-container-home {
        padding: 75px clamp(0px, 10%, 100px) 200px clamp(0px, 10%, 100px) !important;
        min-height:700px;
    }
    div.container.body-container-home #center-block {
        height:100%;
    }
}

body {
    background-color: var(--bs-gray) !important;
    display: grid;
    align-items: top;
    grid-template-rows: auto 1fr auto;
    background: rgb(211,174,134);
    background: -moz-linear-gradient(0deg, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 25%, rgba(58,103,62,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 25%, rgba(58,103,62,1) 100%);
    background: linear-gradient(0deg, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 25%, rgba(58,103,62,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3ae86",endColorstr="#3a673e",GradientType=1);
    background-attachment: fixed;
}

body.v1 {
    background-color: var(--bs-gray) !important;
    display: grid;
    align-items: top;
    grid-template-rows: auto 1fr auto;
    background-image:url("https://res.cloudinary.com/browntulstar/image/private/s--Cu-BTg6K--/e_blur:1000/c_fit,w_1080/com.browntulstar/img/browntulstar-logo-v1-large.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body.profile {
    background-image: none;
    background: rgb(63,13,27);
    background: -moz-linear-gradient(180deg, rgba(63,13,27,1) 0%, rgba(114,24,49,1) 45%, rgba(190,40,81,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(63,13,27,1) 0%, rgba(114,24,49,1) 45%, rgba(190,40,81,1) 100%);
    background: linear-gradient(180deg, rgba(63,13,27,1) 0%, rgba(114,24,49,1) 45%, rgba(190,40,81,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f0d1b",endColorstr="#be2851",GradientType=1);
}

body.home {
    background: rgb(211,174,134);
    background: -moz-radial-gradient(circle, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 30%, rgba(58,103,62,1) 75%);
    background: -webkit-radial-gradient(circle, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 30%, rgba(58,103,62,1) 75%);
    background: radial-gradient(circle, rgba(211,174,134,1) 0%, rgba(196,212,137,1) 30%, rgba(58,103,62,1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3ae86",endColorstr="#3a673e",GradientType=1);
}
