<?php

require_once dirname(__DIR__,1) . "/vendor/autoload.php";
use Cloudinary\Configuration\Configuration;

$cloudinary = new Cloudinary([
    'cloud' => [
        'cloud_name' => '',
        'api_key'  => '',
        'api_secret' => '-',
    'url' => [
        'secure' => true]]]);
$CLOUDINARY_URL = "cloudinary://:@"

?>