<?php

require_once dirname(__DIR__,1) . "/vendor/autoload.php";
use Cloudinary\Configuration\Configuration;

$CLOUDINARY_CLOUD_NAME = "";
$CLOUDINARY_API_KEY = "";
$CLOUDINARY_API_SECRET = "";
$CLOUDINARY_CONFIG = Configuration::instance([
    'cloud' => [
        'cloud_name' => $CLOUDINARY_CLOUD_NAME,
        'api_key'  => $CLOUDINARY_API_KEY,
        'api_secret' => $CLOUDINARY_API_SECRET,
    'url' => [
        'secure' => true]]]);
$CLOUDINARY_URL = "cloudinary://".$CLOUDINARY_API_KEY.":".$CLOUDINARY_API_SECRET."@".$CLOUDINARY_CLOUD_NAME."";

//Legacy Expressions
$CLOUDINARY_DELETE_EXPRESSION = '';
$CLOUDINARY_BROWNIEVAL_PREFIX = '';

//New Expressions
$CLOUDINARY_BROWNIEVAL_PREFIX_ARRAY = array();
?>